<nav class="header__menu">
    <ul>
        @*<li class="@TempData["HomeActive"]"><a href="~/home">Home</a></li>
        @{
            foreach (var item in ViewBag.Layout_Menu)
            {
                <li class="@ViewBag.HomeActive"><a href="~/category-@item.CategoryID">@item.CategoryName</a></li>
            }
        }*@
        <li class="active"><a href="~/Home">Home</a></li>
        <li class="@TempData["OccasionActive"]">
            <a href="#">Occasions</a>
            <ul class="dropdown">
                @{
                    foreach (var item in ViewBag.Occasion_List)
                    {
                        <li><a href="~/Occasion?id=@item.OccasionID">@item.OccasionName</a></li>
                    }
                }
            </ul>
        </li>
        <li class="@TempData["Meaning"]"><a href="~/Flower">Meaning of flowers</a></li>
        <li class="@TempData["BlogsActive"]"><a href="~/blog">Blogs</a></li>
        <li class="@TempData["ContactActive"]"><a href="~/Home/Contact">Contact</a></li>
    </ul>

</nav>

