@model IEnumerable<OnlineFloralDelivery.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Manage Orders</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Admin/">Admin</a></li>
                        <li class="breadcrumb-item active">Orders</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Data of Orders</h3>
                    <p>
                        <a style="cursor:pointer; color:white" id="print" class="btn btn-primary btn-sm float-right"><i class="fas fa-print"></i> Print</a>
                    </p>
                </div>

                <div class="card-body">
                    <table id="tbl_Suppliers" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreationDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Recipient)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShippingDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Phone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Note)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Payment.PaymentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer.FirstName)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreationDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Recipient)
                                    </td>
                                    <td class="project-actions text-center">
                                        @{
                                            if (item.ShippingDate == null)
                                            {
                                                <a class="btn btn-warning btn-sm" href="@Url.Action("Ship", "Orders", new { id = item.OrderID })">
                                                    <i class="fas fa-shipping-fast">
                                                    </i>
                                                    Ship
                                                </a>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.ShippingDate)
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Note)
                                    </td>
                                    <td>
                                        @if (item.Status == 0)
                                        {
                                            <span class="badge badge-primary">Processing</span>
                                        }
                                        else if (item.Status == 1)
                                        {
                                            <span class="badge badge-warning">Shipping</span>
                                        }
                                        else if (item.Status == 2)
                                        {
                                            <span class="badge badge-success">Delivered</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">Canceled</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Payment.PaymentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                                    </td>
                                    <td class="project-actions text-right">
                                        <a class="btn btn-primary btn-sm" href="~/Admin/Orders/Details/@item.OrderID">
                                            <i class="fas fa-eye">
                                            </i>
                                            View
                                        </a>
                                        <a class="btn btn-info btn-sm" href="~/Admin/Orders/Edit/@item.OrderID">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Status
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>




@section ScriptConfig
{
    <link href="~/Assets/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Assets/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#tbl_Suppliers").DataTable({
                "destroy": true,
                "responsive": true,
                "autoWidth": false,
                "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    { sWidth: '180px' }
                ]
            });
        });

        $('#print').click(function () {
            window.print();
            return false;
        });

    </script>
}