@model OnlineFloralDelivery.Models.Comment
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var feedback = (List<OnlineFloralDelivery.ViewModels.CommentViewModel>)ViewBag.Feedback;
    var bouquet = (OnlineFloralDelivery.Models.Bouquet)ViewBag.Bouquet;
    ViewBag.Title = bouquet.BouquetName;
    var user = (OnlineFloralDelivery.Models.UserLogin)Session["CLIENT_SESSION"];
}

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="~/home"><i class="fa fa-home"></i> Home</a>
                    <span>
                        @bouquet.BouquetName
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        @{
                            foreach (var item in ViewBag.Image)
                            {
                                <a class="pt active" href="#product-@item.ImageID">
                                    <img src="@Url.Content(item.ImageFileName)" alt="">
                                </a>
                            }
                        }
                    </div>

                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            @{
                                foreach (var item in ViewBag.Image)
                                {
                                    <img data-hash="product-@item.ImageID" class="product__big__img" src="@Url.Content(item.ImageFileName)" alt="">
                                }
                            }
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>@bouquet.BouquetName <span>Occasion: @bouquet.Occasion.OccasionName</span></h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span>
                            @*@{if (feedback.Count <= 1)
                                {<span>( </span> @feedback.Count<span>review )</span>}
                            else
                            {<span>( </span>@feedback.Count<span>reviews )</span>}}*@
                        </span>
                    </div>
                    <div class="product__details__price">
                        <script>document.write((@bouquet.UnitPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));</script> USD<span>
                        <script>document.write((@bouquet.OldUnitPrice).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));</script></span>
                    </div>

                        

                    <p>
                        @bouquet.ShortDescription
                    </p>
                    <div class="product__details__button">
                        <div class="quantity">
                            <span>Quantity:</span>
                            <div class="pro-qty">
                                <input type="text" value="1" id="txtQty">
                            </div>
                        </div>
                        <a style="cursor:pointer" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>
                    </div>
                    <div class="product__details__widget">

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                @{if (feedback.Count <= 1)
                                    { <span>Review ( </span>@feedback.Count<span> )</span>}
                                else
                                {<span>Reviews (</span>@feedback.Count<span> )</span>}}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <h4>Bouquet included:</h4>
                            @{
                                foreach (var item in ViewBag.SL)
                                {
                                <p>- @item.Quantityy @item.FlowerName</p>
                                }
                            }
                            <h4>Description:</h4>
                            <p>
                                @Html.Raw(bouquet.Description)
                            </p>
                        </div>
                        @*<div class="tab-pane" id="tabs-2" role="tabpanel">
                            <p>
                                @Html.Raw(product.Specification)
                            </p>
                        </div>*@
                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                        <p>
                            @using (Html.BeginForm("AddComment", "BouquetDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <h4>Comments</h4><br />
                                                @foreach (var item in feedback)
                                                {
                                                    string[] tu = item.Username.Split(' ');
                                                    int len = tu.Length;
                                                    string word = tu[len - 1];
                                                    string character = word.Substring(0, 1);
                                                    <span class="avatar">@character</span>

                                                    DateTime ngaymuon = Convert.ToDateTime(item.CommentDate);
                                                    DateTime ngaytra = Convert.ToDateTime(DateTime.Now);
                                                    TimeSpan Time = ngaytra - ngaymuon;
                                                    int TongSoNgay = Time.Days;
                                                    int TongSoGio = Time.Hours;
                                                    int TongSoPhut = Time.Minutes;
                                                    if (TongSoNgay < 1)
                                                    {
                                                        if (TongSoGio < 1)
                                                        {
                                                            <b>@item.Username </b><small style="color: darkgrey">- @TongSoPhut minute(s) before</small>
                                                        }
                                                        else
                                                        {
                                                            <b>@item.Username </b><small style="color: darkgrey">- @TongSoGio hour(s) before</small>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <b>@item.Username </b><small style="color: darkgrey">- @TongSoNgay day(s) before</small>
                                                    };

                                                    <div>@item.Content</div>
                                                    <br />
                                                }
                                            </div>
                                            <div class="col-sm-6">

                                                @if (user != null && user.Role == -1)
                                                {
                                                    <h4>Please rate the @bouquet.BouquetName</h4>
                                                    <br />
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="Content" rows="10" required placeholder="Please enter a review for the product."></textarea>
                                                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })

                                                        @Html.Hidden("BouquetID", bouquet.BouquetID)
                                                        @Html.Hidden("Username", user.Username)
                                                        <br />
                                                        <button type="submit" class="float-right site-btn">Send</button>
                                                    </div>
                                                }
                                                @if (user != null && (user.Role == 0 || user.Role == 1))
                                                {
                                            <h4>
                                                Please login to your customer account to comment
                                            </h4>
                                                }
                                                @if (user == null)
                                                {
                                                    <h4><a href="/login">Please login to comment</a></h4>
                                                }


                                            </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </p>
                        </div>
      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
<style>
    .product__details__pic__left .pt.active::after {
        opacity: 0.0;
    }

    .content {
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

    #square {
        width: 28px;
        height: 28px;
        background: #f447ff;
    }

    .avatar {
        float: left;
        width: 25px;
        height: 25px;
        background: #ddd;
        margin-right: 7px;
        text-align: center;
        color: #666;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 26px;
        font-weight: 600;
        text-shadow: 1px 1px 0 rgba(255,255,255,.2)
    }
</style>
@section ClientScript
{
    <script src="~/Scripts/plugins/summernote/summernote-bs4.min.js"></script>
    <link href="~/Scripts/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <script>
        $(function () {
            $('#txaFeedback').summernote()
        })

        $(document).ready(function () {
            $(".cart-btn").click(function () {
                var qty = $("#txtQty").val();
                window.location = "/add-to-cart?bouquetID=@bouquet.BouquetID&quantity=" + qty;
            });
        });

    </script>

}

