@model OnlineFloralDelivery.Models.Employee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Delete Employee</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Admin/">Admin</a></li>
                        <li class="breadcrumb-item"><a href="~/Admin/Employees/">Employees</a></li>
                        <li class="breadcrumb-item active">Delete</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">
                        <h1 style="font-weight:bold; font-size:25px" class="card-title">Are you sure you want to delete this?</h1>
                    </div>

                    <div class="col-sm-2">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <div class="card-tools">
                                    <input type="submit" value="Delete" class="btn btn-block btn-secondary float-right btn-danger" />
                                </div>
                            </div>
                        }
                    </div>

                    <div class="card-tools col-sm-2">
                        <button class="btn btn-block btn-secondary float-right" onclick="window.location.href = '../'">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-12 order-md-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.Username)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.Username)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.FirstName)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.FirstName)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.LastName)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.LastName)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.LastName)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @if (Model.Gender == true)
                                        {
                                            <div>Male</div>
                                        }
                                        else
                                        {
                                            <div>Female</div>
                                        }
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.DateOfBirth)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.DateOfBirth)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.Phone)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.Phone)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.Email)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.Email)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.Address)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @Html.DisplayFor(model => model.Address)
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.Picture)</strong>:
                                    </div>
                                    @if (!Model.Picture.IsEmpty())
                                    {
                                        <img class="col-sm-10" id="imageDetail" src="@Url.Content(Model.Picture)" style="max-width:300px" />
                                    }
                                    else
                                    {
                                        <p>No Image</p>
                                    }
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.Role)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @if (Model.Role == 0)
                                        {
                                            <div>Admin</div>
                                        }
                                        else if (Model.Role == 1)
                                        {
                                            <div>Employee</div>
                                        }
                                        else if (Model.Role == 2)
                                        {
                                            <div>Customer</div>
                                        }
                                    </p>
                                </div>

                                <div class="post">
                                    <div class="col-sm-2 user-block">
                                        <strong>@Html.DisplayNameFor(model => model.Status)</strong>:
                                    </div>
                                    <p class="col-sm-10">
                                        @if (Model.Status == true)
                                        {
                                            <div style="color:green">Active</div>
                                        }
                                        else
                                        {
                                            <div style="color:red">Disable</div>
                                        }
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<style>
    #imageDetail {
        display: block;
        height: auto;
        max-width: 300px;
    }
</style>